@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.centerMe {
	text-align:center;
}

.noCenter {
	text-align:left;
}

#searchPage {
	text-align:center;
}

.alert {
	border-radius:5px;
	margin-top:5px;
	margin-bottom:5px;
	max-width:100%;
	min-height:55px;
	text-align:left;
	padding-left:52px;
	padding-right:52px;
}

.alert p {
	margin-left:25px;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	float:left;
}

.alert span {
	font-size:53px;
	float:left;
}

body {
	font-family:'Lato',sans-serif;
	overflow-y:none;
	overflow-x:hidden;
	max-width:100%;
	margin:0;
	overflow-wrap:break-word;
}

#searchPage {
	text-align:center;
}

.video {
	border-radius:10px;
	padding:5px;
	margin:5px;
	float:left;
	display:inline-block;
	transition:background-color .5s;
}

.smallVideo {
	border-radius:10px;
	padding:5px;
	margin:5px;
	float:left;
	display:inline-block;
	transition:background-color .5s;
}

.altSmallVideo {
	border-radius:10px;
	padding:5px;
	margin:5px;
	float:left;
	display:inline-block;
	transition:background-color .5s;
}

.resultVideo, .sResultVideo, .verticalShelf {
	border-radius:10px;
	padding:5px;
	margin:5px;
	text-align:left;
	display:inline-block;
	transition:background-color .5s;
}

.smallThumb, .largeThumb, .relatedThumb {
	object-fit: cover;
}

.smallThumb {
	float:left;
	margin-right:5px;
}

.smallIcon {
	height:100%;
	float:left;
	margin-right:5px;
}

.resultD {
	float:left;
	max-width:54%;
}

.channelLink {
	transition:text-decoration .5s;
	cursor:pointer;
	text-decoration:none;
}

.channelLink:hover {
	text-decoration:underline;
}

input {
	font-family:verdana;
	border:none;
	border-radius:10px;
	width:350px;
	height:35px;
	padding:5px;
}

button {
	height:35px;
	padding:5px;
	border:none;
	border-radius:10px;
	cursor:pointer;
	transition:background-color .5s, color .5s;
}

.loader {
	color:white;
	display:inline-block;
	position:relative;
	width:80px;
	height:80px;
}

.loader div {
	transform-origin:40px 40px;
	animation:loader 1.2s linear infinite;
}

.loader div:after {
	content:" ";
	display:block;
	position:absolute;
	top:3px;
	left:37px;
	width:6px;
	height:18px;
	border-radius:20%;
}

.loader div:nth-child(1) {
  transform:rotate(0deg);
  animation-delay:-1.1s;
}

.loader div:nth-child(2) {
	transform:rotate(30deg);
	animation-delay:-1s;
}

.loader div:nth-child(3) {
	transform:rotate(60deg);
	animation-delay:-0.9s;
}

.loader div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.loader div:nth-child(5) {
	transform:rotate(120deg);
	animation-delay:-0.7s;
}

.loader div:nth-child(6) {
	transform:rotate(150deg);
	animation-delay:-0.6s;
}

.loader div:nth-child(7) {
	transform:rotate(180deg);
	animation-delay:-0.5s;
}

.loader div:nth-child(8) {
	transform:rotate(210deg);
	animation-delay:-0.4s;
}

.loader div:nth-child(9) {
	transform:rotate(240deg);
	animation-delay:-0.3s;
}

.loader div:nth-child(10) {
	transform:rotate(270deg);
	animation-delay:-0.2s;
}

.loader div:nth-child(11) {
	transform:rotate(300deg);
	animation-delay:-0.1s;
}

.loader div:nth-child(12) {
	transform:rotate(330deg);
	animation-delay:0s;
}

@keyframes loader {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

video {
	background:black;
	transition:width .5s,height .5s;
	margin-bottom:16px;
	margin-top:16px;
}

#loadErr {
	box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
	color:white;
	background:url("../../img/errorInPlayer.gif");
	width:60%;
	height:645px;
	margin-left:20%;
	position:relative;
	margin-bottom:16px;
	margin-top:16px;
}

#leInner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width:75%;
	min-height:200px;
	font-weight:900;
}

img {
	user-drag:none; 
	user-select:none;
	-moz-user-select:none;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}

.details {
	text-align:left;
}

.stat {
	margin:0px;
	vertical-align:center;
}	

.invisibleLink {
	text-decoration:none;
	cursor:pointer;	
}

.ico {
	vertical-align:middle;
	webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.comment {
	width:96%;
	border:none;
	border-radius:10px;
	padding:10px;
	margin:5px;
}

.smallPfp {
	width:50px;
	height:50px;
	float:left;
}

.cAuthor {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:60px;
	font-size:36px;
}

#settingsPage {
	margin-left:20%;
	margin-right:20%;
	margin-top:10px;
}

.switch {
	position:relative;
	display:inline-block;
	width:60px;
	height:34px;
}

.switch input {
	opacity:0;
	width:0;
	height:0;
}

.slider {
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#848484;
	-webkit-transition:.4s;
	transition:.4s;
	border-radius:34px;
}

input:checked + .slider {
	background-color:#2196F3;
}

.slider:before {
	position:absolute;
	content:"";
	height:26px;
	width:26px;
	left:4px;
	bottom:4px;
	background-color:white;
	-webkit-transition:.4s;
	transition:.4s;
	border-radius:50%;
}

input:focus + .slider {
	box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform:translateX(26px);
	-ms-transform:translateX(26px);
	transform:translateX(26px);
}

#autoPlayBlock {
	margin-right:2%;
	text-align:right;
}

#autoPlayBlock p {
	width:62px;
}

#banner {
	width:100%;
	height:350px;
	object-fit: cover;
}

#profilePic {
	width:150px;
	height:150px;
	object-fit: cover;
	text-align:left;
	display:inline-block;
	position:absolute;
	top:10px;
	left:10px;
}

.profilePics {
	width:150px;
	height:150px;
	object-fit: cover;
}

.relatedChannel {
	width:46%;
	height:210px;
	transition:background-color .5s;
	float:left;
	border:none;
	border-radius:10px;
	padding:5px;
	margin:2px;
}

#bannerPfpContainer {
	position:relative;
	width:100%;
	height:350px;
}

#channelInfo {
	min-height:75px;
}

#channelDesc {
	margin-top:2%;
	margin-bottom:3%;
}

.maindetails {
	width:92.5%;
}

.noMargin {
	margin:0px;
}

.setting {
	margin-top:5px;
	margin-bottom:5px;
}

.homeTitle {
	margin-left:4px;
}

.centerXY {
	margin:auto;
}

.centerXYP {
	display:grid;
}

.td {
	text-align:left;
	padding-left:3px;
	padding-right:3px;
}

.noCursor {
	cursor:none;
}

iframe {
	width:100%;
	height:100%;
	border:none;
	transition:width .5s,height .5s;
}

#embedContainer {
	margin-bottom:16px;
	margin-top:16px;
}

.pack {
	min-width:100%;
	min-height:700px;
	max-height:1030px;
}

#playlistThumb {
	min-width:40%;
	max-width:40%;
	display:inline-block;
	object-fit:cover;
	transition:filter 1s;
	float:left;
	padding-right:1%;
}

#playlistThumb:hover {
	filter:brightness(50%);
	cursor:pointer;
}

#playlistInfo {
	min-width:59%;
	max-width:59%;
}

#filters {
	text-align:left;
	border-radius:10px;
	margin-top:20px;
	
}