body {
	background:black;
	color:#999;
}

#trending, #redditTrending {
	margin-left:12.5%;
	margin-right:12.5%;
}

.details {
	width:90%;
	margin-left:7%;
}

#autoPlayBlock {
	margin-right:4%;
}

#theat_native, #theat_embed {
	display:none;
}

.video {
	width:94%;
	height:415px;
	background-color:#111;
}

.video:hover {
	background-color:#3c3c3c;
}

.resultD {
	max-width:53%;
}

.smallVideo {
	width:95%;
	height:525px;
	background-color:#111;
	float:none;
}

.smallVideo:hover {
	background-color:#3c3c3c;
}

.relatedChannel {
	background-color:#111;
}

.relatedChannel:hover {
	background-color:#3c3c3c;
}

.altSmallVideo {
	width:94%;
	height:525px;
	background-color:#111;
}

.altSmallVideo:hover {
	background-color:#3c3c3c;
}

.resultVideo {
	width:90%;
	min-height:153px;
	background-color:#111;
}

.resultVideo:hover {
	background-color:#3c3c3c;
}

.verticalShelf {
	width:90%;
	min-height:160px;
	background-color:#111;
	text-align:left;
}

.sResultVideo {
	width:97%;
	min-height:153px;
	background-color:#3c3c3c;
}

.smallThumb {
	width:45%;
	height:220px;
}

.relatedThumb {
	width:100%;
	height:75%;
}

.largeThumb {
	width:99%;
	height:72%;
}

a {
	color:#999;
}

input {
	background-color:#131313;
	color:#999;
}

button {
	color:#999;
	background-color:#131313;
}

button:hover {
	background-color:#2d2d2d;
}

.loader div::after {
	background-color:#999;
}

video {
	width:100%;
	height:10%;
	max-height:840px;
}

.invisibleLink {
	color:#999;
} 

.comment {
	background-color:#111;
	width:93%;
}

select {
	background-color: #111;
	color:#999;
	border-color:#282828;
}

#sharDiv {
	height:300px;
}

.alert {
	background:#2d2d2d;
	color:#999;
}

#filters {
	background:#2d2d2d;
	width:90%;
	margin-left:4%;
	height:250px;
	padding:10px;
}

#settingsPage {
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
}