body {
	background:rgb(45, 45, 45);
	color:white;
}

#trending, #redditTrending {
	max-width:1800px;
	margin-left:2.5%;
}

.video {
	width:280px;
	height:305px;
	background-color:#3c3c3c;
}

.video:hover {
	background-color:#888;
}

.details {
	width:60%;
	margin-left:20%;
}

.smallVideo {
	width:31%;
	height:255px;
	background-color:#3c3c3c;
}

.smallVideo:hover {
	background-color:#888;
}

.relatedChannel {
	background-color:#3c3c3c;
}

.relatedChannel:hover {
	background-color:#888;
}

.altSmallVideo {
	width:23%;
	height:285px;
	background-color:#3c3c3c;
}

.altSmallVideo:hover {
	background-color:#888;
}

.resultVideo {
	width:65%;
	min-height:153px;
	background-color:#3c3c3c;
}

.resultVideo:hover {
	background-color:#888;
}

.verticalShelf {
	width:65%;
	min-height:153px;
	background-color:#888;
}

.sResultVideo {
	width:98%;
	min-height:153px;
	background-color:#3c3c3c;
}

.smallThumb {
	width:45%;
	height:312px;
}

.relatedThumb {
	width:100%;
	height:60%;
}

.largeThumb {
	width:100%;
	height:150px;
}

a {
	color:white;
}

input {
	background-color:#282828;
	color:white;
}

button {
	color:black;
	background-color:white;
}

button:hover {
	background-color:#c1c1c1;
}

.loader div::after {
	background-color:white;
}

video {
	width:60%;
	height:10%;
	max-height:645px;
}

.invisibleLink {
	color:white;
}

.comment {
	background-color:#3c3c3c;
}

.alert {
	background:#c1c1c1;
	color:white;
}

#filters {
	background:#c1c1c1;
	width:65.7%;
	margin-left:17%;
	height:250px;
	padding:10px;
}

#sharDiv {
	min-height:105px;
	max-height:225px;
}